streamlit
streamlit-folium
xarray
matplotlib
netcdf4
tensorflow==2.15
openpyxl
rioxarray
--find-links=https://girder.github.io/large_image_wheels GDAL
geemap==0.30.0
localtileserver
scikit-learn
joblib
